<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
    <title>UBBD Home</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/pages/home">UBBD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/pages/index">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/join">Join <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Videos</a> -->
          </li>
          <li class="nav-item   dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contact
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/pages/top4">Top 4</a>
              <a class="dropdown-item" href="/pages/scroll">Side Hoes</a>
              <!-- <a class="dropdown-item" href="#">Community</a> -->
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <img src="/images/everyone.jpg" class="img-fluid" style="width: 100%;">

    <!-- <div class="container">
          <div class="alert alert-info text-center" role="alert">
            To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
    </div>  -->

  <div class="table-responsive">
      <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Sunday</th>
              <th scope="col">Monday</th>
              <th scope="col">Tuesday</th>
              <th scope="col">Wednesday</th>
              <th scope="col">Thursday</th>
              <th scope="col">Friday</th>
              <th scope="col">Saturday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Time</th>
                <td>Unof.</td>
                <td>4-6pm</td>
                <td>NA</td>
                <td>10-11:30pm</td>
                <td>NA</td>
                <td>6:30-8pm</td>
                <td>NA</td>
            </tr>
          </tbody>
        </table>
  </div>

  <!-- <div class="container-fluid" > -->
          <!-- <div class="col-md-6"> -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cnxb9bEu4Sk"></iframe>
            </div>
          <!-- </div> -->
  <!-- </div> -->

  <hr>


      <div class="container text-center">
         (c) UBBD 2018
      </div>
    </div>

    <% include ../partials/js_extentions.ejs %>

  </body>
</html>