<!doctype html>
<html lang="en">
  <head>
    <% include ../partials/join_header.ejs %>
    <title>Cover Template for Bootstrap</title>
  </head>

  <body class="text-center">

      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <h3 class="masthead-brand">UBBD</h3>
              <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link " href="/pages/index">Home</a>
                  <a class="nav-link" href="/pages/top4">Contact</a>
                  <a class="nav-link active" href="/pages/join">Join</a>
              </nav>
            </div>
          </header>
    
          <main role="main" class="inner cover">
            <h1 class="cover-heading">Sell your soul</h1>
            <p class="lead" style="padding-bottom: 50px;">We're kidding, we need your email to send over our event schedule and cat memes.  No spam included. Promise!</p>

            <!-- <div class="d-flex justify-content-center">.
              <div class="form-label-group" style="padding-bottom: 20px;">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              </div>
            </div>
            <div class="d-flex justify-content-center">.
                <a href="#" class="btn btn-lg btn-secondary">Give Soul</a>
            </div> -->

            <div class="d-flex justify-content-center">
              <div class="col--10">
                <form action="/user_create" method="POST">
                <div class="input-group mb-6">
                  <!-- <input type="text" class="form-control" placeholder="Your email here!" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
                  <input type="text" class="form-control" name="create_email" placeholder="Your email here!" aria-label="Recipient's username" aria-describedby="basic-addon2" style="background-color:rgba(0,0,0,0); color: white !important;">
                  <div class="input-group-append">
                    <button class="btn" name="submit" type="button-submit">Submit</button>
                  </div>
                </div>
                </form>
                
              </div>
            </div>

          </main>
    
          <footer class="mastfoot mt-auto">
            <div class="inner">
              <!-- <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
              <p>(c) UBBD</p>

            </div>
          </footer>
        </div>
    
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <% include ../partials/js_extentions.ejs %>

  </body>
</html>
