<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>UBBD Home</title>

    <style>
     
    </style>
  </head>

  <body>

    <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/pages/index">UBBD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/pages/index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/join">Join <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Videos</a> -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contact
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/pages/top4">Top 4</a>
              <a class="dropdown-item" href="/pages/second3">Side Hoes</a>
            <!-- <a class="dropdown-item" href="#">Community</a> -->
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!--
    Card Stack Here
  -->
  <div class="container mt-5">
    <div class="card-deck">
      <!-- 
        Neo   
      -->
      <div class="card text-white bg-secondary mb-3">
          <img class="card-img-top" src="/images/Eboard/Neo.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              Neo Su <span class="badge badge-success">Event Coord.</span>
            </h5>
            <p class="card-text">A powerful powermover from Taiwan, he can showw you why Taiwan's number one!</p>
          </div>
          <div class="card-footer bg-transparent border-success"> <a href="#" class="btn btn-primary">hsuanyun@buffalo.edu</a></div>
        </div>
      <!-- 
        Jessie 
      -->
      <div class="card text-white bg-secondary mb-3">
        <img class="card-img-top" src="/images/Eboard/Jess.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            Jessie Madigan <span class="badge badge-success">PR 1</span>
          </h5>
          <p class="card-text">Also known as our friendliest Eboard member, hit her up for club collaborations!</p>
        </div>
        <div class="card-footer bg-transparent border-success"> <a href="#" class="btn btn-primary">jnmadigan@buffaloledu</a></div>
      </div>
      <!-- 
         Angus
      -->
      <div class="card text-white bg-secondary mb-3">
        <img class="card-img-top" src="/images/Eboard/Angus.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            Angus Wong <span class="badge badge-success">PR. 2</span>
          </h5>
          <p class="card-text">Sometimes called our funiest member, this guys passion flows out through the roof!</p>
        </div>
        <div class="card-footer bg-transparent border-success"> <a href="#" class="btn btn-primary">anguswon@buffaloledu</a></div>
      </div>
      <!-- 
         Jamie
      -->
    <div>
  </div>

  <hr>

  <div class="container text-center">
   (c) UBBD 2018
  </div>
</div>


    <!-- Optional JavaScript -->
    <% include ../partials/js_extentions.ejs %>

  </body>
</html>